@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf) format('truetype');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Medium.ttf) format('truetype');

    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-SemiBold.ttf) format('truetype');

    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'KaushanScript';
    src: url(../fonts/KaushanScript-Regular.ttf) format('truetype');

    font-weight: normal;
    font-style: normal;
}


html {
    font-size: 62.5%;
}


body {
    font-family: 'Raleway', sans-serif;
    margin: 0;

    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.3;
    color: #000;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.page {
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 0 2rem;
}

/* DEBUG */

.burger {
    padding-top: 2rem;
    padding-bottom: 5rem;
    padding-left: 4rem;

    border-left: 1px solid #94378C;
    border-bottom: 1px solid #94378C;

    width: 320px;

    display: none;
    position: absolute;
    top: -15px;
    right: -30px;
    z-index: 100;

    background-color: #fff;
}

.burger.active {
    display: block;
}

.burger-header__title {
    font-size: 2.2rem;
    font-weight: 600;
    color: #94378C;
    margin-bottom: 2rem;
}

.burger-header__logo {
    font-family: 'KaushanScript', sans-serif;
    color: #94378C;
    font-size: 4rem;
    margin-top: 7.5rem;
}

.burger-nav__item.burger-nav__item-info {
    margin-top: 4rem;
}

.burger-nav__link {
    margin-bottom: 1rem;
}

.burger-nav__link:last-child {
    margin-bottom: 0;
}

.burger-nav__link:hover {
    color: #94378C;
}

.burger-nav__item-info .nav__link {
    padding: 0;
}

.burger-nav__link-item {
    display: flex;
    gap: .5rem;
}

.burger-nav__link-icon {
    position: relative;
    padding-left: 2.5rem;
}

.burger-nav__link-icon img {
    position: absolute;
    top: 50%;
    left: 0;
    object-fit: cover;
    transform: translateY(-50%);

}

/* SECTION */

.section {
    margin-bottom: 5rem;
}

.section--purple {
    background-color: rgba(148, 55, 140, .1);
    padding: 3rem 1rem 5rem;
}

/* BUTTON */

.button {
    padding: 1.5rem 3.2rem;

    margin-top: 3rem;

    font-weight: 500;
    color: #fff;

    line-height: 1.2;
    font-size: 1.6rem;

    background-color: #94378C;
    border: none;

    cursor: pointer;

    height: fit-content;
}

.button:hover {
    background-color: #E04ED4;
}

.button.intro {
    width: 100%;
}

.button.services {
    margin-top: 4rem;
}

.button.border {
    background-color: #fff;
    border: 2px solid #94378C;
    color: #000;
    margin-top: 4rem;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.button.border:hover {
    border: 4px solid #E04ED4;
}

.button.form {
    margin-top: 0;
    margin-left: 4rem;
}

/* HEADER */

.header {
    padding: 1.6rem 1rem 1.2rem;
    width: 100%;
    box-shadow: 0px 0px 4px rgba(148, 55, 140, 0.25);
    margin-bottom: 3rem;
}

.header__inner {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    position: relative;
}

.header__logo {
    font-family: 'KaushanScript', sans-serif;
    color: #94378C;
    font-size: 4rem;
}

.header__group {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* HEADER NAV */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
}

.nav__item {
    display: flex;
    gap: 2rem;
}

.nav__item.nav__item-info {
    gap: 4rem;
}



.nav__link {
    padding: 1rem;
}

.nav__link:hover {
    color: #94378C;
}

.nav__item-info .nav__link {
    padding: 0;
}

.nav__link-item {
    display: flex;
}

.nav__link-icon {
    position: relative;
    padding-left: 2.5rem;
}

.nav__link-icon img {
    position: absolute;
    top: 50%;
    left: 0;
    object-fit: cover;
    transform: translateY(-50%);

}

/* Nav-toggle */

.nav-toggle {
    display: none;
    width: 30px;
    padding: 1rem 0;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 60%;
    right: 0;
    z-index: 101;

    transform: translateY(-50%);
}

.nav-toggle.active {
    top: 40%;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 3px;

    background-color: #94378C;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    transition: background .2s linear;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 30px;
    height: 3px;

    background-color: #94378C;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    top: 8px;
}

.nav-toggle.active .nav-toggle__item {
    background: none;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle__item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}

/* INTRO */

.intro__title {
    margin-top: 3rem;
}

.title {
    margin-bottom: 4rem;
    font-weight: 600;
    font-size: 4.8rem;
    /* line-height: 5.6rem; */
}

.intro__content {
    display: flex;
    justify-content: space-between;
}

.intro__content-image {
    position: relative;
}

.intro__content .intro__content-image {
    flex: 0 0 65%;
}

.intro__content-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.intro__content-item {
    flex: 0 0 31.4%;
}

.intro__content-item .intro__content-image {
    padding: 0 0 120% 0;
}

.intro__content-text {
    margin-top: 3rem;

    font-weight: 500;
    font-size: 2.4rem;
}

/* SERVICES */

.services__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.services__link {
    color: #94378C;
}

.services__link::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-top: 1px solid #94378C;
    border-right: 1px solid #94378C;
    position: absolute;
    top: 50%;
    right: -10px;
    z-index: 1;
    transform: translateY(-50%) rotate(45deg);
}

.services__content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.services__item {
    display: flex;
    gap: 4rem;

    flex: 0 0 57.9%;
}

.item-title {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
}

.services__item-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.section__item-image {
    position: relative;
    padding-left: 47%;
}

.section__item-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 1;
}

.services__item-text {
    font-size: 1.6rem;
    margin-top: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* SERVICES TABLE */

.services__item-table {
    flex: 0 0 38%;

    padding: 3.8rem 2rem 3.8rem 3.8rem;

    background: #F5EBF4;
}

.services__table {
    display: flex;
    justify-content: space-between;
}

.table__head {
    font-weight: 600;

    color: #94378C;

    margin-bottom: 3rem;
}

.table__cell {
    margin-bottom: 2rem;
}

.services__table-link {
    margin-top: 1rem;
    color: #94378C;
}

/* REASONS */

.reasons {
    display: flex;
    justify-content: space-between;
}

.reasons__image {
    position: relative;
    flex: 0 0 23.2%;
    margin-right: 3rem;
}

.reasons__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.reasons__content {
    display: flex;
    justify-content: space-between;
}

.reasons__item {
    flex: 0 0 30.8%;
    position: relative;
    padding-left: 5rem;
}

.reasons__item-number {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    color: #94378C;
    font-size: 3.6rem;
}

.reasons__item-text {
    margin-top: .6rem;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* LEARNING */

.learning {
    display: flex;
    justify-content: space-between;
}

.learning__content {
    flex: 0 0 52%;
    position: relative;
    padding-bottom: 9rem;
}

.learning__text {
    font-weight: 500;
}

.learning__image {
    position: relative;
    flex: 0 0 45%;
}

.learning__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

/* WORKS */

.btn__group {
    display: flex;
    gap: 2rem;
}

/* SLIDER */

/* Слайдер */
.slick-slider {
    cursor: grabbing;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
}

.reviews .slick-track,
.slider .slick-track {
    gap: 4rem;
}

/* Слайд */
.slick-slide {}

.reviews__item.slick-slide {
    flex: 1 1 0;
}

.slick-slide img {
    display: block;
    width: 100%;
}

.slick-initialized .slick-slide {
    display: flex;
    gap: 4rem;
    justify-content: space-around;
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {}

/* Слайд основной */
.slick-slide.slick-current {}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {
    margin-top: 3rem;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
    font-size: 1.6rem;
    background-color: #94378C;
    cursor: pointer;
    height: fit-content;
    border: 1px solid transparent;
    padding: 1rem 1.5rem;
}

.slick-arrow:hover {
    background-color: #E04ED4;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
    font-size: 0;
}

.slick-arrow.slick-prev:before {
    font-size: 1.6rem;
    content: "<";
}

/* Стрелка вправо */
.slick-arrow.slick-next {
    font-size: 0;
}

.slick-arrow.slick-next:before {
    font-size: 1.6rem;
    content: ">";
}

/* Стрелка не активная */
.slick-arrow.slick-disabled {
    background-color: #fff;
    border: 1px solid rgba(148, 55, 140, .3);
    color: rgba(148, 55, 140, .3);
}

.slider__item img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* REVIEWS */

.reviews {
    display: flex;
    gap: 4rem;
    min-width: 0;
}

.reviews__item {
    flex: 1 1 0;
    border: 2px solid #94378C;
}

.reviews__content {
    position: relative;
    padding: 2rem 2rem 2rem 8rem;
}

.reviews__avatar {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.review__text {
    margin-top: 2rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* LOCATION */

.location {
    display: flex;
    gap: 4rem;
    position: relative;
}

.location__item {
    flex: 1 1 auto;
}

.location__image {
    position: relative;
}

.location__img {
    width: 100%;
}

.location__dot {
    position: absolute;
    bottom: 23%;
    left: 39%;
    z-index: 1000;
}

/* LOCATION */

.documents {
    display: flex;
    justify-content: space-between;
    min-width: 0;
}

.documents__image img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* FOOTER */

.footer {
    display: flex;
}

.footer__block-form {
    background: url(/src/img/footer.jpg) center no-repeat;
    background-size: cover;
    width: 49%;
    padding-left: 2rem;
}

.footer__inner {
    display: flex;
}

.footer__form {
    padding: 3rem 6rem 4.9rem 0;
    max-width: 700px;
    margin-left: auto;
}

.footer__form-content {
    display: flex;
    justify-content: space-between;
}

.feedback {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 453px;
    gap: 2rem;
}

.feedback__title {
    margin-bottom: 2rem;
}

.feedback__input {
    padding: 1.5rem 2rem;
    border: 1px solid transparent;
    height: 49px;
}

[type="name"] {
    width: 37%;
}

[type="phone"] {
    width: 57%;
}

.feedback__input.mail,
.feedback__input.text {
    flex: 1 1 100%;
}

.feedback__input.text {
    height: 80px;
}

.feedback__input::placeholder {
    color: #3A2E38;
    opacity: 0.5;
}

.feedback__input:focus {
    outline: 0;
    border: 2px solid #94378C;
}

.feedback__input:focus::placeholder {
    color: transparent;
    font-size: 0;
}

.footer__form-text {
    font-size: 1.2rem;
    margin-top: 2rem;
}

.footer__form-link {
    color: #94378C;
    cursor: pointer;
}

.footer__block-footer {
    background-color: #212121;
    width: 51%;
    padding-right: 2rem;
}

.footer__content {
    padding: 5rem 0 5rem 30%;

    position: relative;
    color: rgba(255, 255, 255, .5);
}

.footer__logo {
    font-family: 'KaushanScript', sans-serif;
    color: #fff;
    font-size: 4rem;
    top: 35px;
    position: absolute;
    left: 35px;
}

.copyright {
    color: #fff;
    bottom: 120px;
    position: absolute;
    left: 35px;
}

.footer__item-content {
    display: flex;
    /* gap: 8rem; */
    justify-content: space-between;
    max-width: 453px;
}

.footer__content-item {
    display: flex;
    flex-direction: column;
}

.footer__content-title {
    margin-bottom: 2rem;
    word-break: break-all;
    /* height: 52px; */
}

.footer__content-menu {
    list-style: none;
    padding: 0;
    margin-bottom: 3.5rem;
    height: 225px;
}

.footer__content-menu.mb {
    margin-bottom: 11.8rem;
}

.footer__menu-item {
    padding: 1rem 0;
}

.test__block {
    max-width: 487px;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1440px) {

    /* HEADER */

    .nav {
        gap: 2rem;
    }

    .nav__item {
        gap: .5rem;
    }

    .nav__item.nav__item-info {
        gap: 1rem;
    }

    /* FOOTER */

    .footer__content {
        padding: 13rem 0 5rem 2rem;
    }

    .test__block {
        flex-direction: column;
        gap: 1rem;
    }

    /* FOOTER */

    .copyright {
        left: unset;
        right: 20px;
    }

    .footer__form-content {
        flex-direction: column;
        gap: 2rem;
    }

    .button.form {
        margin-left: 0;
    }

    .feedback {
        max-width: none;
    }

    .footer__item-content {
        max-width: none;
        margin-right: 2rem;
    }
}

@media (max-width: 1230px) {

    /* HEADER */

    .header__inner {
        padding-right: 5rem;
    }

    .nav {
        margin: 0 auto;
    }

    .nav__item.nav__item-info,
    .burger-nav__item {
        display: none;
    }

    .nav__item-info.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #94378C;
        gap: 1rem;
    }

    .nav-toggle {
        display: block;
    }

    /* BURGER */

    .burger-nav__item.burger-nav__item-info {
        display: block;
    }

    /* SERVICES */

    .services__content {
        display: block;
    }

    .services__item {
        margin-bottom: 2rem;
    }

    /* FOOTER */

    .footer__form {
        padding-right: 2rem;
    }
}

@media (max-width: 992px) {

    /* REASONS */

    .reasons__image {
        margin-right: 1.5rem;
        flex: 0 0 45%;
    }

    .reasons__content {
        flex-direction: column;
        gap: 2rem;
    }

    .reasons__item-title br {
        display: none;
    }

    /* FOOTER */

    [type="name"],
    [type="phone"] {
        width: auto;
        flex: 1 1 100%;
    }

    /* SLIDER */

    .reviews .slick-track,
    .slider .slick-track {
        gap: 2rem;
    }

    .review__text {
        display: block;
    }
}

@media (max-width: 770px) {

    /* ALL */

    .title {
        font-size: 4rem;
    }

    .section {
        margin-bottom: 4rem;
    }

    .item-title {
        font-size: 2.2rem;
    }

    /* HEADER */

    .nav__item {
        display: none;
    }

    /* BURGER */

    .burger-nav__item {
        display: block;
    }

    /* INTRO */

    .intro__title {
        margin-top: 2rem;
    }

    .intro__content {
        display: block;
    }

    .intro__content-image {
        padding: 0 0 70% 0;
    }

    .intro__content-item .intro__content-image {
        display: none;
    }

    /* REASONS */

    .reasons__image {
        display: none;
    }

    /* REVIEWS */

    .reviews {
        flex-direction: column;
        gap: 2rem;
    }

    /* LOCATION */

    .location {
        flex-direction: column;
        gap: 1rem;
    }

    /* DOCUMENTS */

    .documents {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .documents__item {
        flex: 1 1 50%;
    }

    /* FOOTER */

    .footer {
        display: block;
    }

    .footer__block-form,
    .footer__block-footer {
        width: auto;
    }

    .footer__form-content {
        flex-direction: unset;
    }

    [type="name"],
    [type="phone"] {
        width: 47%;
        flex: unset;
    }
}

@media (max-width: 550px) {

    /* ALL */

    .container {
        padding: 0 .5rem;
    }

    .title {
        font-size: 3.2rem;
    }

    .section {
        margin-bottom: 2rem;
    }

    .item-title {
        font-size: 1.8rem;
    }

    .button {
        font-size: 1.5rem;
    }

    body {
        font-size: 1.5rem;
    }

    /* INTRO */

    .intro__content-text {
        font-size: 2rem;
    }

    .intro__title {
        margin-top: 1rem;
    }

    /* SERVICES */

    .services__content {
        margin-bottom: 2rem;
    }

    .services__item {
        gap: 2rem;
        display: block;
    }

    .section__item-image {
        padding-left: 0;
        padding-top: 50%;
        margin-bottom: 2rem;
    }

    .button.services {
        margin-top: 2rem;
    }

    .services__item-table {
        padding: 1rem;
    }

    .services__table {
        gap: 1rem;
        word-break: break-word;
    }

    .reviews .slick-track,
    .slider .slick-track {
        gap: 0;
    }

    /* LEARNING */

    .learning {
        flex-direction: column;
        gap: 2rem;
    }

    .learning__image {
        padding: 0 0 50% 0;
    }

    /* DOCUMENTS */

    .documents__item {
        flex: 1 1 100%;
    }

    /* FOOTER */

    [type="name"],
    [type="phone"] {
        width: 100%;
        flex: unset;
    }

    .footer__form-content {
        flex-direction: column;
    }

    /* SLIDER */
    .documents__slider-btns {
        display: flex;
        gap: .5rem;
    }
}